.header {
    background-color: #EEAD0E;
    padding: 10px;
}

.margin-top {
    margin-top: 25px;
}

.ray {
    border: 1px solid lightgray;
    text-align: center;
    width: 100%;
}

.poe {
    border: 1px solid lightgray;
    text-align: center;
    width: 100%;
}

.finn {
    border: 1px solid lightgray;
    text-align: center;
    width: 100%;
}

.chewbacca {
    border: 1px solid lightgray;
    text-align: center;
    width: 100%;
}

.kylo {
    border: 1px solid lightgray;
    text-align: center;
    width: 100%;
}

.yoda {
    border: 1px solid lightgray;
    text-align: center;
    width: 100%;
}